make_video*
requirements.txt

output_atlas
output_euler
slurm_output
pcd
*.pyc
scripts
*.ipynb
*.sh 
make_video.py
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
nerf_synthetic
multi-scale
360_v2
benchmark*
debug*
fused
comparison
Text
SIBR_viewers

